<div class="card">
  <div class="card-header">
    <h5 class="card-title">Pokemon Details</h5>
  </div>
  <div class="card-body">
    <p class="card-text">Name: <strong>{{model.name}}</strong></p>
    <p class="card-text">Level: <strong>{{model.level}}</strong></p>
    <p class="card-text">Type: <strong>{{model.typeLabel}}</strong></p>
    {{#if model.strongestMove}}
      <p class="card-text">Strongest Move: <strong>{{model.strongestMove.name}}</strong></p>
    {{/if}}

    <h4>Moves</h4>

    <BasicTable @model={{model.moves}} @columns={{columns}} />

  </div>
</div>