<div class="card">
  <div class="card-header">
    <div class="float-right">
      {{#link-to "pokemon.edit"}}
        <button type="button" class="btn btn-primary">Edit Pokemon</button>
      {{/link-to}}

      {{#link-to "pokemon.delete"}}
        <button type="button" class="btn btn-danger">Delete</button>
      {{/link-to}}
    </div>
    <h5 class="card-title">Pokemon Details</h5>
  </div>
  <div class="card-body">
    <p class="card-text">Name: <strong>{{model.name}}</strong></p>
    <p class="card-text">Level: <strong>{{model.level}}</strong></p>
    <p class="card-text">Type: <strong>{{model.typeLabel}}</strong></p>
    {{#if model.strongestMove}}
      <p class="card-text">Strongest Move: <strong>{{model.strongestMove.name}}</strong></p>
    {{/if}}
  </div>
</div>
<br>
<div class="float-right">
  {{#link-to "pokemon.add-move"}}
    <button type="button" class="btn btn-primary">Add move</button>
  {{/link-to}}
</div>
<h4>Moves</h4>
<br>
{{#if model.moves}}
  <BasicTable @model={{model.moves}} @columns={{columns}} />
{{else}}
  <div class="alert alert-warning" role="alert">
    This pokemon has no moves yet.
  </div>
{{/if}}

{{outlet}}